.vscode
.idea
.git
logs
*.log
clitools/nssm
**/*.json
**/*.config
**/*.md
**/*.html
**/*.hbs
**/*.css
**/*.ps1
**/*.sh
**/*.csv
**/*.txt
**/*.php
**/*.conf
**/*.sql
node_modules/
TEST-RESULTS.xml
swagger.yaml
swagger-gateway.yaml
bin/
